.nav{
  height: 7%;
  width: 100%;
  background-color: black;
  position: absolute;
}
.nav ul li{
  display: inline;
  margin-left: 20px;
  color: #fff;
}
.nav ul li:last-child{
  float: right;
  margin-right:50px;
}